@import url(./styles.css/header.css);
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Julius+Sans+One&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;;
}

:root{
    --cor-verde: #00a470;
    --cor-vermelho: #fd254a;
    --cor-laranja: #ff594f;
    --cor-cinza:  #989898;
    --cor-fundo: #f5f5f5;

    --font-logo: "Julius Sans One", sans-serif;
}