
body{
    background: var(--cor-fundo);
   
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
}

.logo{
    padding-top: 1rem;
    padding-bottom: 2rem;
}



.login{
    border: 1px solid var(--cor-cinza);
    border-radius: 10px;
    width: 40%;
    
    padding: 1rem; 
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center; 
    gap: 1rem;
}

.login h3{
    text-align: center;
    font-size: 16px;
    color: var(--cor-cinza);
}

.login h2{
    color: var(--cor-cinza);
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

input{
    width: 60%;
    border-radius: 10px;
    border: none;
    height: 2rem;    
}

.input::placeholder{
    color: var(--cor-cinza);
}

.btn_login{
    width: 60%;
    border-radius: 10px;
    height: 2rem;
    border: none;
    background-color: var(--cor-verde);
    color: var(--cor-fundo);
}

.info{
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info a{
    font-size: 14px;
    color: var(--cor-cinza);
}