
body{
    background: var(--cor-fundo);
   
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      
}




.login{
    border: 1px solid var(--cor-cinza);
    border-radius: 10px;
    width: 30%;    
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

input{
    width: 60%;
    border-radius: 10px;
    height: 2rem;    
}

.btn_login{
    width: 60%;
    border-radius: 10px;
    height: 2rem;
}
