
.menu{
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    background-color: var(--cor-fundo);
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logo img{
    width: 30px;
    height: 60px;
}

.titulo{
    font-family: var(--font-logo);
    font-weight: 700;
    color: var(--cor-cinza)
}

.container_links{
   display: flex;
   justify-content: center; 
   align-items: center;
   gap: 20px;
}

.item a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--cor-cinza);
}

.container_links li{
    list-style-type: none;
}

.link{
    text-decoration: none;
}

.item p,
.titulo{
    display: none;
}

@media screen and (min-width: 1024px){
    
    .item p,
    .titulo{
        display: block;
    }
}