.menu{
    display: flex;
    flex-direction: column;
}

.container_menu{
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    background-color: var(--cor-fundo);
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logo img{
    width: 70px;
    height: 70px;   
}

.titulo{
    font-family: var(--font-logo);
    font-weight: 700;
    color: var(--cor-cinza)
}

.container_links{
   display: flex;
   justify-content: center; 
   align-items: center;
   gap: 20px;
}

.item a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--cor-cinza);
}

.icon_cart{
    position: relative;
}

.icon_cont{
    display: flex;
    width: 25px;
    height: 25px;
    background-color: var(--cor-laranja);
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20px;    
}

.container_links li{
    list-style-type: none;
}

.link{
    text-decoration: none;
}

nav{
    margin: 5px 0 5px 0;   
}

.menu_hamburguer{
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container_nav{
    display: flex;
    justify-content: center;
    background: var(--cor-verde);
    gap: 20px;
    z-index: 9999;
}

.item_nav{
    list-style-type: none;
    padding: 10px 0;
}

.item_nav a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 12px;
}

.item_nav a:hover{
    color: var(--cor-laranja);
}

.form_search{
    padding: 10px 0;
    background-color: var(--cor-fundo);
    display: flex;
    justify-content: center;
}

.input_search{
    padding: 6px;
    font-size: 16px;
    border: none;
    width:50%;
}

.input_search::placeholder{
    color: var(--cor-cinza);
    padding-left: 20px;   
}

.input_search:enabled{
    border: 1px solid var(--cor-laranja);
    color: var(--cor-cinza);
} 

.button_search{
    float: right;
    padding: 6px 10px;
    background: var(--cor-laranja);
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.item p,
.titulo {
    display: block;
}

.button_menu,
.menu_hamburguer{
    display: none;
}


@media screen and (max-width: 480px) and (min-width: 768px){
    
    .item p,
    .titulo, 
    .container_nav, 
    .button_menu{
        display: none;
    }

    .container_hamburguer{
        display: block;
    }

    .button_menu:checked ~ .container_nav{
        display: block;
    }

    .logo img{
        width: 50px;
        height: 50px;    
    }

    nav{
        position: relative;
        display: flex;
        align-items: center;
        gap: 2rem
    }

    .search{
        width: 70%;
    }

    .form_search{
        background-color: white;
        padding: 0;
    }

    .input_search{    
        font-size: 12px;
        width:100%;
        height: 30px;   
    }

    .button_search{
        height: 30px; 
    }

    .button_search img{
        width: 20px;
    }

    .container_nav{
        display: none;
        position: absolute;
        top: 100%;
        width: 50vw;
    }

    .item_nav{
        width: 120px;
        margin-left: 20px;
    }

    .menu_hamburguer{
        background-image: url("../assets/bars-solid.svg");
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
    }

    .container_produts{
        display: flex;
        flex-direction: column;
    }

}

@media screen and (min-width: 768px){

    .item p,  
    .button_menu{
        display: none;
    }

    .titulo{
        font-size: 24px;
    }
    
}

