.menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container_menu{
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    background-color: var(--cor-fundo);
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logo img{
    width: 30px;
    height: 60px;
}

.titulo{
    font-family: var(--font-logo);
    font-weight: 700;
    color: var(--cor-cinza)
}

.container_links{
   display: flex;
   justify-content: center; 
   align-items: center;
   gap: 20px;
}

.item a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--cor-cinza);
}

.icon_cart{
    position: relative;
}

.icon_cont{
    display: flex;
    width: 25px;
    height: 25px;
    background-color: var(--cor-laranja);
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20px;
    
}

.container_links li{
    list-style-type: none;
}

.link{
    text-decoration: none;
}

nav{
    margin: 5px 0 5px 0;
}

.container_nav{
    display: flex;
    justify-content: center;
    background: var(--cor-verde);
    gap: 20px;
}

.item_nav{
    list-style-type: none;
    padding: 10px 0;
}

.item_nav a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 12px;
}

.item_nav a:hover{
    color: var(--cor-laranja);
}

.search{
    float: right;
    overflow: hidden;
}

.input_search{
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.button_search{
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}


.item p,
.titulo{
    display: none;
}

@media screen and (min-width: 1024px){
    
    .item p,
    .titulo{
        display: block;
    }
}