/* Style da página login */

body{
    background: var(--cor-fundo);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
}

.logo{
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.login{
    border: 1px solid var(--cor-cinza);
    border-radius: 10px;
    width: 30%;    
    padding: 2rem; 
}

.error{
    color: red;
    font-size: 12px;
    font-weight: 700;
    width: 60%;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center; 
    gap: 1rem;
}

.login h3{
    text-align: center;
    font-size: 16px;
    color: var(--cor-cinza);
}

.login h2{
    color: var(--cor-cinza);
}

.select{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 100%;
}

#email,
#password{
    width: 60%;
    border-radius: 5px;
    border: none;
    height: 2rem; 
    text-align: center;   
}

#email::placeholder,
#password::placeholder{
    color: var(--cor-cinza);
    text-align: center; 
}

#buttonForm{
    width: 60%;
    border-radius: 5px;
    height: 2rem;
    border: none;
    background-color: var(--cor-verde);
    color: var(--cor-fundo);
    cursor: pointer;
}

button:disabled{
    background-color: #CCCCCC;
    color: #999999; 
}

.info{
    padding-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info a{
    font-size: 14px;
    color: var(--cor-cinza);
    text-decoration: underline;   
}

.infoCaptcha{
    padding-top: 2rem;
    color: var(--cor-cinza);
    font-size: 12px;
    text-align: center;
}

.infoPolitica{
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding-top: 3rem;
}

.infoPolitica a{
    color: var(--cor-cinza);
    text-decoration: none;  
    font-size: 14px;
}


/* Style modal esqueci minha senha */
.modal{
    display: 'none';
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal_content{
    background: var(--cor-fundo);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--cor-cinza);
    border-radius: 10px;
    width: 30%; 
}

.close {
    color: var(--cor-verde);
    float: right;
    font-size: 28px;
    font-weight: bold;
   
}

.close:hover,
.close:focus {
  color: var(--cor-laranja);
  text-decoration: none;
  cursor: pointer;
}

.modal_content h2{
    color: var(--cor-cinza);
    font-size: 16px;
}

.modal_content h3{
    padding-top: .5rem;
    color: var(--cor-cinza);
    font-size: 10px;
}

.forgetpassword_button{
    margin-top: 1rem;
}

.formForgetPassword{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}



@media screen and (max-width: 480px){
    
    /* Style da página login */
    .logo{
        display: flex;
        flex-direction: column;
    }

    .titulo{
        display: block;
        font-size: 18px;
    }
    
    .login{
        border-radius: 5px;
        width: 60%;    
        padding: 1rem; 
    }

    .login h3{
        font-size: 12px;
        
    }
    
    .login h2{
        font-size: 16px;
    }

    #email,
    #password{
        width: 90%;  
    }

    #email::placeholder,
    #password::placeholder{
        font-size: 12px;
    }

    .info a{
        font-size: 10px;
    }

    .error{
        font-size: 8px;
        width: 90%;
    }

    .infoCaptcha{   
        font-size: 7px;    
    }

    .infoPolitica{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        width: 100%;     
    }

    .infoPolitica a{ 
        font-size: 10px;
    }

    #buttonForm{
        width: 90%;
        
    }

    /* Style modal esqueci minha senha */
    .modal_content{      
        width: 70%; 
    }

    .modal_content h2{
        font-size: 14px;
    }
    
    .modal_content h3{
        font-size: 8px;
    }

    
}

@media screen and (min-width: 768px) and (max-width: 1024px){

    /* Style da página login */
    .login{
       
        width: 60%;    
        padding: 1rem; 
    }

    .infoCaptcha{   
        font-size: 10px;       
    }

    .infoPolitica{
        width: 60%;
    }

    /* Style modal esqueci minha senha */
    .modal_content{      
        width: 50%; 
    }
}