.carrossel_container{
    padding: 20px 0;
    text-align: center;
}

#wrapper_banner img{
    width: 80%;    
}

#pagination_banner{
    margin: .5em 0;
}

#scrollbar_banner{
    display: none;
}

@media screen and (max-width: 480px) {
    
    #wrapper_banner img{
        width: 100%;
    }
    
}