.carrossel_container{
    padding: 20px 0;
    text-align: center;
}


.swiper-wrapper img{
    width: 80%;
    
}

.swiper-pagination{
    position: initial;
    margin: .5em 0;
}

.swiper-scrollbar{
    display: none;
}