.mais_info{
    display: flex;
    justify-content: space-around;
    align-items:flex-start;
    background-color: var(--cor-verde);
    padding: 2em;
}

.info_columm{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.info_columm a{
    text-decoration: none;
    color: var(--cor-fundo);
    
}

.info_title{
    color: var(--cor-laranja);
}

.container_plus{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}

.plus_item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}


.plus_title{
    color: white;
    font-size: 12px;
}


.rodape{
    background: var(--cor-fundo);
    padding: 2em;
}

.rodape p{
    text-align: center;
    color: var(--cor-cinza);
}

@media screen and (max-width: 430px){
   .mais_info{
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 20px;
   }

   .container_plus{
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items: flex-start;
        gap: 10px;
   }
}