.container_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.container_produts{
    display: flex;
    justify-content: space-around;
    grid-template-columns: auto auto auto;
    gap: 2em;
    margin: 3em;
}

.title_section{
    font-family: var(--font-logo);
    color: var(--cor-cinza);
    text-align: center;
}


.card{ 
    border-radius: 10px; 
    width: 220px;  
    border: 2px solid var(--cor-fundo);  
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%); 
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    position: relative;   
}

.interation_card{
    display: grid;
    
}

.sale{
    color: white;
    background: var(--cor-verde);
    border-radius: 5px;
    position: absolute;
    padding: 0 .3rem;
    margin: 10px;
    top: 0;
    right: 0;
    
}   




.heart{
    width: 20px;
    margin: 10px;
    position: absolute;
    top: 0;
    left: 0; 
     
    
}


.image{
    width: 100%;
    bottom: -20px;   
}

.card_image{
    width: 210px;
    height: auto;
    border-radius: 15px 15px 0 0;  
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
        
}

.card_titulo{
    font-size: 16px;
    width: 200px;
    color: var(--cor-cinza);
    text-align: center;
    padding: 2em 1em;
}

.card_valor{
    color: var(--cor-cinza-escuro);
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    text-decoration: underline;
}

.card_button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-verde);
    border-radius: 15px;
    padding: .5em 1em;
    text-decoration: none;
    gap: 10px;
    width: 60%;
    margin: 1.5em;
}

.card_button:hover{
    background: var(--cor-laranja);
}

.card_button a{
    text-align: center;
}

.card_button p{
    font-weight: 600;
    color: white;
}