
.container_section{
    padding-bottom: 2rem;
}

.container_produts{
    width: 100%;
    margin-left: 0;   
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card_swiper{  
    padding-top: 5rem;
    padding-bottom: 3rem;
    width: 60%;  
}

#slide_card{
    display: flex;
    justify-content: center;
    height: auto;
}

#scrollbar_card{
    display: none;
}

.title_section{
    font-family: var(--font-logo);
    color: var(--cor-cinza);
    text-align: center;
    padding-top: 20px;   
}

.card{ 
    border-radius: 5px;   
    border: 2px solid var(--cor-fundo);   
    position: relative;  
    display: flex;
    flex-direction: column; 
    justify-content: space-around;  
    height: 35rem;
    width: 16rem;
}

.sale{
    color: white;
    background: var(--cor-verde);
    border-radius: 5px;
    position: absolute;
    padding: 0 .3rem;
    margin: 10px;
    top: 0;
    right: 0;   
}   

.heart{
    width: 20px;
    margin: 10px;
    position: absolute;
    top: 0;
    left: 0;        
}

.image{
    width: 100%;
    bottom: -20px; 
    display: flex;
    justify-content: center;
    align-items: center;  
}

.card_image{
    width: 13.1rem;
    height: auto;
    border-radius: 15px 15px 0 0;  
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;        
}

.card_titulo{
    font-size: 1rem;
    width: 12.5rem;
    color: var(--cor-cinza);
    text-align: center;
    padding: 1em;
}

.card_prices{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.avaliacao{
    padding-bottom: 10px;
}

.card_valor_old{
    color: var(--cor-cinza);
    text-decoration:line-through;   
}

.card_valor_discount{
    color: var(--cor-cinza-escuro);
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: underline;
}

.card_button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-verde);
    border-radius: 15px;
    border: none;
    cursor: pointer;
    padding: .5em 1em;
    text-decoration: none;
    gap: 10px;
    width: 60%;
    margin: 1.5em;
}

.card_button:hover{
    background: var(--cor-laranja);
}

.card_button a{
    text-align: center;
}

.card_button p{
    font-weight: 600;
    color: white;
}

.error{
    color: var(--cor-cinza);
    text-align: center;
}

@media screen and (max-width: 480px){ 
    .container_section{
        padding-bottom: 1rem;
    }
    
    .container_produts{    
        margin-left: 0;   
        margin-right: 0;
    }

    #wrapper_card{
        width: 60%;
    }
    
    #card_swiper{      
        width: 60%; 
    }
    
    #slide_card{
        height: auto;
    }

    .card{
        width: 8rem;
        height: 20rem;
    }

    .title_section{
        font-size: 18px;
    }

    .info{
        height: auto;
    }

    .avaliacao{
        width: 60px;
        padding-bottom: 5px;
    }

    .heart{
        width: 13px;
        margin: 5px;
    }

    .sale{
        font-size: 10px;
        margin: 5px;
        padding: 0 .1rem;
    }

    .card_image{
        width: 80%;       
    }

    .card_titulo{
        font-size: .5rem;
        width: auto;
    }

    .card_valor_real{
        font-size: .7rem;
    }

    .card_valor{
        font-size: 1rem;
    }

    .card_valor_discount{
        font-size: 1rem;
    }

    .card_valor_old{
        font-size: .7rem;
    }

    .card_button{
        border-radius: 10px;
        gap: 5px;
        padding: .25em .5em;
    }

    .card_button p{
        font-size: 10px;
    }
    .card_button img{
        width: 15px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px){
   
    .container_section{
        padding-bottom: 1rem;
    }
    
    .container_produts{  
        margin-left: 2.5%;   
        margin-right: 0;
    }

    .wrapper_card{
        width: 10%;
    }
    
    #card_swiper{      
        width: 60%; 
    }
    
    #slide_card{
        height: auto;
    }

    .card{
        width: 15rem
    }

}